@charset'utf-8';

/*字体总汇*/
/* font:倾斜 加粗 大小写 大小 字体; */

/* 
文本倾斜：
font-style:属性值;
 */
h1{
 	/*正常状态*/
 	font-style: normal;
 	/*文本倾斜*/
 	font-style: italic;
 	/*轻微的倾斜*/
 	font-style: oblique;
 }
/* 
文本加粗：
font-weight:属性值;
 */
 h1{
 	/*正常状态*/
 	font-weight: normal;
 	/*600及之后加粗*/
 	font-weight: 600;
 	/*轻细*/
 	font-weight: lighter;
 	/*粗体*/
 	font-weight: bold;
 	/*更粗*/
 	font-weight: bolder;
 }
/* 
文本大小写：
font-variant:属性值;
 */
 p{
 	/*正常状态*/
 	font-variant: normal;
 	/*大写状态*/
 	font-variant: small-caps;
 }
 /* 
文本大小：
font-size:属性值;
 */
 p{
 	font-size: 14px;
 	font-size: 80%;
 }
 /* 
文本字体：
font-family:属性值;
 */
 p{
 	font-family: "SimHei",'宋体';
 }
 /*补充：Web字体*/
 @font-face{
 	font-family: abc;url('xxx.otf');
 }
 p{
 	font-family: 'abc';
 }
